#ulforsidebar{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EAEAEA;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    margin-top: 20px;
}

.liforsidebar{
    width: 80%;
    height: 40px;
    font-size: large;
    padding-left: 30px;
    color: black;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}

.liforsidebar:hover{
    background-color: rgba(0, 255,0,0.2);
}

.active{
    transition: all 5ms;
    width: 80%;
    height: 40px;
    font-size: large;
    
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    justify-content: left;
    gap: 50px;
    cursor: pointer;
    box-shadow: inset 0 -3em 3em rgb(0 200 0 / 10%);
    
    border-radius: 0.3rem;
}