*{
    padding: 0px;
    margin: 0px;
}
 



.underprofile::-webkit-scrollbar{
    display: none;
}

.table{
    width: 100%;
    height: auto;
     
    margin-top: 0px;
    position: relative;
    top: 100px;
    /* border: 2px solid rgb(34 197 94); */
    border-radius: 0.4rem;
    border-spacing: 10px;
    border-collapse: separate;
    background-color: #EAEAEA;
}

tr{
    width: 100%;
    height: 60px;
    border: 2px solid rgb(34 197 94);
    /* margin-bottom: 20px; */
    cursor: default;
    background-color: #fff;
}

td{
    border: 2px solid;
    text-align: left;
    padding: 10px;

}
th{
    text-align: left;
    padding: 10px;
    color: white;
    background-color: rgb(34 197 94);
    width: 20%;
}

.profilename{
    height: 0px;
    display: none;
    transition: all  ease-in;
}

.profil
.profilimg:hover .profilename{
    height: auto;
    display: block;
    
}